.v-btn {
    padding: 0;
}

.v-icon {
    size: x-small;
    align-items: center;
}

.span {
    font-size: 1.5vh;
    text-align: center;
    /*bottom: 0;*/
    /*top: 0.5vh;*/
    /*margin-top: 1vh;*/
    /*height: 5vh;*/
    /*margin-bottom: 1vh;*/
}