.label{
  margin-top: 2vh;
  margin-left: 6vw;
  color:#674c80;
}

.cinemaCard{
  margin-right: 4vw;
  text-align: center;
}
.poster{
  height:28vh;
  width:35vw;
  background-size: cover;
  background-position:center;
  border-radius: 15px !important; 
}
.cinemaInfo{
  margin-top: 1vh;
  font-size: small;
}

.noThea {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.noTheaExp {
  text-align: center;
  position: relative;
  top: 40%;
}

.noContent{
  text-align: center;
  margin-left: 5vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
.noContentExp{
  padding-top: 8vh;
  padding-left: 4vw;
}