.card{
    margin-right:2vh;
    background-size: cover;
    background-position:center;
    
    border-radius: 12px !important; 
}

.cardname{
    font-size: small;
    padding-top: 11vh;
    bottom:0.5vh;
}
.theaterinfo{
    text-align: center;
    font-size: small;
}
.label{
    margin-top: 2vh;
    margin-left: 4vw;
    margin-bottom: 0;
    color: #674c80;
}
.noContent{
    text-align: center;
    margin-left: 2vw;
    margin-right: 6vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.noContentExp{
    padding-top: 8vh;
}