#app > div > div.movieCard > div > div > div.v-slide-group__wrapper > div > div > div > div:nth-child(1) {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
.mod{
  margin-right: 25vw;
  margin-left: 6vw;
  font-size: small;
  color: #acacac;
}
.goReview{
  font-size: large;
  padding-right: 4vw;
  padding-bottom: 2vh;
}
.chip{
  z-index: 1;
  left: 28.5vw;
  bottom: 9.3vh;
  position: fixed;
  color:#FFFFFF
}
.detail{
  padding-left: vw;
  color: #FFFFFF;
}
.ranklist{
  padding-top: 0;
}
.list{
  padding-top: 0;
}
.mychip >>> span{
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
}
.movieInfo{
   padding-top: 0;
   padding-left: 0;
}
.mycard{
  margin-left: 3vw;
  height: 18vh;
  width: 87vw;
}

.card_image{
  margin-left: 2vw;
  margin-bottom: 2vh;
  background-position: center;
  background-size: contain;
  height: 15vh;
  width: 20vw;
  border-radius: 10px;
}

#app > div > div.movieCard > div > div > div.v-slide-group__wrapper > div > div > div > div:nth-child(2) > div {
  padding: 0;
}

.noItem{
  opacity: 0.98;
}

.noMovie{
  text-align: center;
  position: relative;
  top: 10vh;
  height: 24vh;
  color: #acacac;
  font-weight: 400;
}


.mytitle{
  font-size: 17px;
  color: #000000;
  font-weight: bold;
  line-height: 17px;
}

.mysubtitle{
  font-size: 12px;
  color: #aaaaaa;
}

.mysubtitle2{
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
